<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<h1 class="red-color">{{ name }} Web Page:</h1>
<div id="custom-font" class="dotted-black-border border-padding">
    <p><span class="strong-font">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore
        magna aliqua. Eget mi proin sed libero enim sed faucibus turpis. Proin fermentum leo vel orci porta non. Eu
        consequat ac felis donec et odio. Sed vulputate odio ut enim blandit volutpat maecenas. Posuere ac ut consequat
        semper viverra nam libero. Sit amet mattis vulputate enim. Turpis egestas sed tempus urna et pharetra pharetra.
        Sit amet massa vitae tortor. Consectetur libero id faucibus nisl tincidunt eget. Justo donec enim diam
        vulputate. Urna duis convallis convallis tellus id. Nulla facilisi cras fermentum odio.</p>
    <p>Sit amet est placerat in egestas erat. Rhoncus mattis rhoncus urna neque viverra justo. Tincidunt augue interdum
        velit euismod in pellentesque massa. Ipsum suspendisse ultrices gravida dictum. Tempus egestas sed sed risus
        pretium quam vulputate dignissim. Adipiscing vitae proin sagittis nisl. In nisl nisi scelerisque eu. Pretium
        nibh ipsum consequat nisl. <span class="strong-font">Quam lacus</span> suspendisse faucibus interdum posuere. Ac
        tortor dignissim convallis
        aenean. Habitant morbi tristique senectus et netus. Aliquam vestibulum morbi blandit cursus risus. Est ultricies
        integer quis auctor elit sed vulputate mi sit. Massa tincidunt nunc pulvinar sapien et. Etiam dignissim diam
        quis enim lobortis scelerisque fermentum dui. Amet est placerat in egestas erat. Egestas maecenas pharetra
        convallis posuere morbi leo urna molestie at. Egestas fringilla phasellus faucibus scelerisque. Ut diam quam
        nulla porttitor massa id neque. Sit amet consectetur adipiscing elit ut aliquam.</p>
    <p id="special-para">Felis donec et odio pellentesque diam volutpat commodo sed egestas. Nunc faucibus a
        pellentesque sit amet
        porttitor eget dolor morbi. Mi quis hendrerit dolor magna. Lectus sit amet est placerat in. Metus aliquam
        eleifend mi in. Aliquet bibendum enim facilisis gravida neque convallis a cras. Aenean euismod elementum nisi
        quis eleifend quam adipiscing vitae proin. Potenti nullam ac tortor vitae purus faucibus. Facilisi morbi tempus
        iaculis urna. Nunc sed id semper risus. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Viverra
        justo nec ultrices dui sapien eget. Luctus venenatis lectus magna fringilla urna. Feugiat vivamus at augue eget
        arcu dictum varius. Arcu odio ut sem nulla. Vitae tempus quam pellentesque nec nam aliquam sem et tortor.
        Commodo elit at imperdiet dui accumsan. Maecenas ultricies mi eget mauris pharetra et ultrices neque. Sed
        faucibus turpis in eu mi. Vel turpis nunc eget lorem dolor.</p>
    <p>Arcu felis bibendum ut tristique et egestas. In pellentesque massa placerat duis ultricies lacus sed turpis. In
        ante metus dictum at tempor commodo ullamcorper a lacus. <span
                class="strong-font">Quisque id diam vel quam.</span>
        Vel quam elementum pulvinar etiam non quam lacus suspendisse. Urna molestie at elementum eu facilisis. Aenean
        vel elit scelerisque mauris
        pellentesque pulvinar pellentesque habitant. Sem integer vitae justo eget magna fermentum iaculis eu non. Metus
        vulputate eu scelerisque felis imperdiet proin fermentum leo. Commodo ullamcorper a lacus vestibulum sed. Morbi
        tristique senectus et netus et malesuada fames ac. Facilisis gravida neque convallis a cras. Arcu cursus vitae
        congue mauris rhoncus aenean vel elit scelerisque. Iaculis nunc sed augue lacus viverra. Cursus in hac habitasse
        platea dictumst quisque sagittis. Ultrices tincidunt arcu non sodales neque sodales ut. Sed euismod nisi porta
        lorem mollis aliquam. Bibendum at varius vel pharetra. Facilisi etiam dignissim diam quis. Vel pretium lectus
        quam id leo in vitae turpis massa.</p>
    <p><span class="strong-font"> Diam vulputate ut pharetra </span> sit amet. Et ultrices neque ornare aenean euismod.
        Id venenatis a condimentum vitae.
        Massa sapien faucibus et molestie ac feugiat. Massa tincidunt dui ut ornare. Morbi quis commodo odio aenean sed
        adipiscing. A iaculis at erat pellentesque. Lacus viverra vitae congue eu. Sit amet tellus cras adipiscing enim
        eu.Adipiscing commodo elit at imperdiet dui accumsan. Arcu dictum varius duis at consectetur lorem donec massa.
        Donec et odio pellentesque diam volutpat commodo sed egestas egestas. Viverra aliquet eget sit amet tellus. Arcu
        dictum varius duis at consectetur lorem. In est ante in nibh mauris cursus mattis molestie. Arcu ac tortor
        dignissim convallis aenean et tortor at. Posuere ac ut consequat semper viverra nam. Aliquet bibendum enim
        facilisis
        gravida neque convallis a.</p>

</div>
</body>
</html>
